.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 8px 17px;
  height: 70px;
  /* border-bottom: 1px solid rgb(230, 235, 244); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: 100;
  position: sticky;
}

.nav-right {
  display: flex;
  flex: 1;
  align-items: center;
}

.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu a {
  margin: 10px;
  border: none;
  margin: 0 16px;
  transition: all 0.1s;
  text-decoration: none;
  color: black;
}

.nav-menu a:hover {
  cursor: pointer;
  border-bottom: 2px solid #1e88e5;
}

.separator {
  height: 16px;
  width: 2px;
  background: #dde3f0;
  margin-left: 14px;
  margin-right: 30px;
}

.nav-logo {
  color: #1e88e5;
  font-size: 22px;
  font-weight: bold;
}

.ham-button{
  display: none;
}

@media (max-width:320px){ 

}

@media (max-width:1025px) { 
  .nav-right{
    display: none;
  }
  .nav-left{
    justify-content: space-between;
  }
  .ham-button{
    display: block;
    background-image: url("../../resources/bars-solid.svg");
    background-color: transparent;
    width: 27px;
    height: 27px;
    outline: none;
    z-index: 200;
    background-size: 100%;
    -webkit-tap-highlight-color: transparent;  
  }
}