.form-section{
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
}

.row-inputs{
    display: flex;
    margin-bottom: 24px;
    gap: 36px
}

form{

}

@media (max-width:600px)  { 
    .row-inputs{
        flex-direction: column;
        margin-bottom: 24px;
        gap: 24px;
    }
}