.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.resume-control{
    flex: 1;
    padding: 48px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    max-width: 800px;
}

.title{
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 600;
}

.description{
    margin-bottom: 2px;
}

.resume-preview{
    flex: 1;
    padding: 48px;
    background: #1e88e5;
    max-height: 100vh;
}
