@font-face {
  font-family: "Rubik";
  src: url("../../fonts/Rubik-Regular.ttf") format("truetype");
}

.resume-preview{
  flex: 2;
  padding: 48px;
  /* background: #1e88e5; */
  background: linear-gradient(0deg, #64b5f6, #1e88e5);
  /* max-height: 100vh; */
  overflow-y: scroll;
}

.resume-preview-controls{
  display: flex;
  justify-content: center;
}

#resume-capture{
  padding: none;
  max-width: 21cm;
  max-height: 29.7cm;
  box-shadow: 5px 5px 5px black;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 10px;
  /* transform: scale(0.5); */
}

#download-btn{
  font-size: 22px;
  margin-top: 14px;
  align-content: center;
  font-weight: bold;
  width: 250px;
}

@media (max-width: 1370px) {
  .resume-preview{
    flex: 3
  }
}

@media (max-width: 1250px) {
  .resume-preview{
    flex: 4
  }
}

@media (max-width:1170px) { 

  .resume-preview{
      display: none;
  }  
}
