p{
    color:rgb(152, 161, 179)
}

.container{
    display: flex;
    justify-content: space-between;
}

.resume-control{
    flex: 1;
    padding: 48px;
}

.resume-preview{
    flex: 1;
    padding: 48px;
    background-color: lightblue;
}
