.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.resume-control{
    flex: 1;
    padding: 48px;
}

.resume-preview{
    flex: 1;
    padding: 48px;
    background-color: lightblue;
}
