.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.resume-control{
    flex: 1;
    padding: 48px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    max-width: 800px;
}

.title{
    border-right: #1e88e5 4px solid;
    padding-right: 10px;
    font-size: 22px;
    margin-bottom: 12px;
    font-weight: 600;
}

.description{
    margin-bottom: 2px;
    color: #98a1b3;
}

@media (max-width: 1250px) {
    .resume-control{
        padding: 12px;
    }
}

@media (max-width: 1170px) {
    .container{
        justify-content: center;
    }
    .resume-control{
        padding: 48px;
    }
}

@media (max-width:1025px) { 

}

@media (max-width: 780px) {
    .resume-control{
        padding: 24px;
    }    
}

@media (max-width:320px){ 
    .resume-control{
        padding: 12px;
    }
}
