.A4 {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    box-sizing: border-box;
}

.resume-container{
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}

.resume-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.resume-body{
    display: flex;
    flex-direction: column;
}

.resume-info-name{
    font-size: 3rem;
    font-weight: bold;
}

.resume-info-contact{
    color: darkgray;
}

.resume-contact-phone{

}

.resume-contact-email{

}

.resume-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.resume-section-main{

}

.resume-section-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    margin-left: 20px;
}

.resume-side-decoration{
    margin-top: 11px;
    border-top: 5px solid #1e88e5;
    /* background-color: #1e88e5; */
}

.resume-side-body{

}

.resume-side-content{
    text-align: left;
}

.resume-section-title{
    color: #64b5f6;
    font-size: 22px;
}

.resume-section-content{

}

