.container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.control-section{
    flex: 1;
    padding: 48px;
}

.preview-section{
    flex: 1;
    padding: 48px;
    background-color: lightblue;
}
