#loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-gif img {
  border-radius: 30%;
  -moz-border-radius: 30%;
  -webkit-border-radius: 30%;
  -o-border-radius: 30%;
}
